:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #fefefe;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff2222;
  --shadowRed: #aa2222;
  --mainGreen: #11cc11;
  --mainGrey: #ededed;
  --iconGrey: #cbcbcb;
  --shadowGrey: #babababa;
  --bgDark: #212529;
  --bgClear: rgba(0, 0, 0, 0.6);
}

body::before {
  display: block;
  content: "";
  height: 70px;
}

body {
  background: var(--bgDark);
}

.list-group-item {
  text-align: center;
  transition: all 0.2s linear;
}

.link:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

textarea {
  height: 12rem;
}

.image-comment-area {
  height: 10rem;
}

.textarea-show {
  height: 12rem;
}

.reset-span {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0.9rem;
  }
}

.img-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: 15rem;
  display: block;
}

.list-image {
  width: 100%;
  height: 4rem;
  display: block;
}
