.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  border-radius: 0.2rem;
  width: 90vw;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.new-review-container {
  text-align: unset;
  place-items: unset;
}

.form-container {
  top: 1rem;
  left: 1rem;
}

.close-modal-btn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 71%, 66%);
  cursor: pointer;
}

.top-modal {
  z-index: 11;
}
