.review-card {
  white-space: pre-wrap;
  text-align: left;
}

.user {
  font-size: 1.3rem;
  color: orange;
  text-align: left;
}

.performance {
  font-size: 0.8rem;
  color: orange;
  text-align: left;
}

.align-right {
  text-align: right;
}

.review-icon:hover {
  cursor: pointer;
}
